#include <afxres.h>
#include "degavirc.h"

IDD_ENCODEOPTIONS DIALOGEX 10, 10, 395, 175
STYLE WS_POPUP | WS_BORDER | DS_SHELLFONT
CAPTION "Movie Encoding Options"
FONT 8, "MS Shell Dlg"
BEGIN

  LTEXT "ROM file:", 0, 10, 10, 50, 10
  EDITTEXT IDT_ROM, 60, 8, 300, 14
  PUSHBUTTON "...", IDB_CHOOSE_ROM, 365, 8, 20, 14

  LTEXT "Movie file:", 0, 10, 30, 50, 10
  EDITTEXT IDT_MOVIE, 60, 28, 300, 14
  PUSHBUTTON "...", IDB_CHOOSE_MOVIE, 365, 28, 20, 14

  LTEXT "Extra frames:", 0, 10, 50, 50, 10
  EDITTEXT IDT_EXTRA_FRAMES, 60, 48, 50, 14

  LTEXT "Output file:", 0, 10, 70, 50, 10
  EDITTEXT IDT_OUTPUT, 60, 68, 300, 14
  PUSHBUTTON "...", IDB_CHOOSE_OUTPUT, 365, 68, 20, 14

  LTEXT "Video codec:", 0, 10, 90, 50, 10
  EDITTEXT IDT_VIDEOCODEC, 60, 88, 300, 14, ES_READONLY
  PUSHBUTTON "...", IDB_CHOOSE_VIDEOCODEC, 365, 88, 20, 14

  LTEXT "Audio codec:", 0, 10, 110, 50, 10
  EDITTEXT IDT_AUDIOCODEC, 60, 108, 300, 14, ES_READONLY
  PUSHBUTTON "...", IDB_CHOOSE_AUDIOCODEC, 365, 108, 20, 14

  PUSHBUTTON "&Encode", IDOK, 142, 130, 50, 15
  PUSHBUTTON "Close", IDCANCEL, 202, 130, 50, 15

  CONTROL "EncodeProgress", IDC_ENCODE_PROGRESS, "msctls_progress32", 0, 10, 155, 375, 10
END

